@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* 头部高度 */
  --header-height: 110px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (min-width: 769px) {
  html, header, body {
    min-width: 1220px;
  }
}

@media (max-width: 769px) {
  :root {
    /* 头部高度 */
    --header-height: 65px;
  }
}
